endpoints:
    mast_test:
        url: https://masttest.stsci.edu/planethunterstess/api/v0.1/load/transit
        auth-header: X-ASB-AUTH
        auth-token: MAST_AUTH_TOKEN
    mast_production:
        url: https://mast.stsci.edu/phad/api/v0.1/load/transit
        auth-header: X-ASB-AUTH
        auth-token: MAST_PROD_TOKEN
