apiVersion: apps/v1
kind: Deployment
metadata:
  name: aggregation-caesar
  labels:
    app: aggregation-caesar
spec:
  replicas: 3
  selector:
    matchLabels:
      app: aggregation-caesar
  template:
    metadata:
      labels:
        app: aggregation-caesar
    spec:
      containers:
        - name: aggregation-caesar-app
          image: zooniverse/aggregation-for-caesar:__IMAGE_TAG__
          env:
            - name: FLASK_ENV
              value: production
            - name: PANOPTES_URL
              value: https://panoptes.zooniverse.org/
            - name: PANOPTES_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: aggregation-for-caesar-environment
                  key: PANOPTES_CLIENT_ID
            - name: PANOPTES_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: aggregation-for-caesar-environment
                  key: PANOPTES_CLIENT_SECRET
            - name: MAST_AUTH_TOKEN
              valueFrom:
                secretKeyRef:
                  name: aggregation-for-caesar-environment
                  key: MAST_AUTH_TOKEN
          ports:
            - containerPort: 80
