apiVersion: apps/v1
kind: Deployment
metadata:
  name: aggregation-caesar
  labels:
    app: aggregation-caesar
spec:
  replicas: 3
  selector:
    matchLabels:
      app: aggregation-caesar
  template:
    metadata:
      labels:
        app: aggregation-caesar
    spec:
      containers:
        - name: aggregation-caesar-app
          image: zooniverse/aggregation-for-caesar:__IMAGE_TAG__
          ports:
            - containerPort: 80
